* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {
    padding-top: 40px;
    display: grid;
    justify-items: center;
}

h1 {
    margin-bottom: 10px;
}

li {
    padding-top: 20px;
    list-style: none;
    border: 2px solid purple;
    margin: 5px;
    padding: 5px 20px;
    background-color: purple;
    color: white;
}