* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: grey;
    height: 100vh;
}

.homepage {
    padding-top: 40px;
    display: grid;
    justify-items: center;
}

.subhomepage {
    background-color: white;
    height: 500px;
    width: 360px;
    border-radius: 10px;
    display: grid;
    align-content: center;
    padding: 20px;
}

.subhomepage li {
    display: grid;
    justify-items: center;
}

h2 {
    margin-bottom: 10px;
}

.homepage li {
    padding-top: 20px;
    list-style: none;
    border: 2px solid purple;
    margin: 5px;
    padding: 5px 20px;
    background-color: purple;
    color: white;
}